<div class="login-wrapper">
    <div class="graphics">

    </div>
    <div *ngIf="!formSubmitted">
        <form class="reset-form" [formGroup]="resetForm" (ngSubmit)="submit()">
            <h1 class='reset-head'>Forget Password</h1>
            <div class="group">
                <div class="form-group">
                    <mat-form-field class="example-full-width" appearance="outline" >
                        <mat-label for="email">Email</mat-label>
                        <input matInput placeholder="Email" formControlName='email'>
                    </mat-form-field>
                    <app-error [control]="email" [submitted]="formSubmitted" patternText="ALPHA"></app-error>
                </div>
            </div>

            <div class="group fx-al-center">
                <div class="form-group">
                    <re-captcha formControlName="reCaptcha" 
                    siteKey="6LdPK1MeAAAAAE-ysMDnea0wJRq91xJqlbVcAhcK">  
                    </re-captcha>
                    <app-error [control]="reCaptcha" [submitted]="formSubmitted"></app-error>
                </div>
                <div class="form-group submit">
                    <button class="reset-button" mat-raised-button color="warn" [disabled]="resetForm.invalid" >Reset Password</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="formSubmitted">
        <h1 class='reset-head'>Your new password has been sent.</h1>
        <div class="group">
            <div class="form-group">
                    Please be sure to change your password 
                    once you're logged back into your account!
            </div>
        </div>
        <div class="group fx-al-center">
            <div class="form-group submit">
                <button class="login-button" mat-raised-button color="warn"><a routerLink="./../login" style="color:white">Login</a></button>
            </div>
        </div>
    </div>
</div>