<div class="login-wrapper">
    <div class="graphics"></div>
    <form *ngIf="!tokenExpired" class="login-form" [formGroup]="resetPswd" (ngSubmit)="submit()">
            <h1 class='login-head'>Change Password</h1>
        
            <div class="group">
                <div class="form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label for="pswd">Password</mat-label>
                        <input matInput type='password' placeholder="Password" formControlName='pswd'>
                    </mat-form-field>
                    <app-error [control]="pswd" [submitted]="formSubmitted" patternText="PASSWORD"></app-error>	
                </div>
            </div>

            <div class="group">
                <div class="form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label for="cnfm_pswd">Confirm Password</mat-label>
                        <input matInput type='password' placeholder="Confirm Password" formControlName='cnfm_pswd'>
                    </mat-form-field>
                    <app-error [control]="cnfm_pswd" [submitted]="formSubmitted" patternText="PASSWORD"></app-error>	
                </div>
            </div>

            <div class="group fx-al-center">
                <div class="form-group">
                    <re-captcha formControlName="reCaptcha" 
                    siteKey="6LdPK1MeAAAAAE-ysMDnea0wJRq91xJqlbVcAhcK">  
                    </re-captcha>
                    <app-error [control]="reCaptcha" [submitted]="formSubmitted"></app-error>
                </div>
                <div class="form-group submit">
                    <button mat-raised-button color="warn" [disabled]="resetPswd.invalid">Change Password</button>
                </div>
            </div>
    </form>
    <div *ngIf="tokenExpired">
        <p>The password reset link was invalid, possibly because it has already been used. Click here to get new password reset link.</p><br>
        <button mat-raised-button color="warn" ><a routerLink="./../request-reset-password" style="color:white">Resend</a></button>
    </div>
</div>