<mat-toolbar style='background : transparent; padding: 0 30px'>
    <img src="assets/images/gravity.png" alt="logo" style='width: 50px; margin-right: 8px'>
    <span>Survey Gravity</span>
    <span class="example-spacer"></span>
    <div class="nav" *ngIf='!signedIn'>
        <button mat-raised-button color='warn' class="example-icon" aria-label="route to login" routerLink="/login" routerLinkActive="hide">Login</button>
        <button mat-raised-button color='warn' class="example-icon" aria-label="route to register" routerLink="/register" routerLinkActive="hide">Register</button>
    </div>
    <button mat-button [class.hide] ="!signedIn" [matMenuTriggerFor]="beforeMenu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <div mat-menu-item>Hi {{session.fn}} {{session.ln}} <br> {{session.email}}</div>
        <button mat-menu-item><mat-icon>person</mat-icon>Profile</button>
        <button mat-menu-item><mat-icon>settings</mat-icon>Settings</button>
        <button mat-menu-item class="example-icon" aria-label="log out button"  (click)='logout()'><mat-icon>exit_to_app</mat-icon>Log out</button>
    </mat-menu>
    
</mat-toolbar>

<router-outlet></router-outlet>