	<div class="login-wrapper">
		<div class="graphics"></div>
		<form class="login-form" [formGroup]="register" (ngSubmit)="submit()">
				<h1 class='login-head'>Register to Survey Gravity</h1>
			
				<div class="group">
					<div class="form-group">
						<mat-form-field class="example-full-width" appearance="outline">
							<mat-label for="fn">First Name</mat-label>
							<input matInput placeholder="First Name" formControlName='fn'>
						</mat-form-field>
						<app-error [control]="fn" [submitted]="formSubmitted" patternText="ALPHA"></app-error>	
					</div>
					<div class="form-group">
						<mat-form-field class="example-full-width" appearance="outline">
							<mat-label for="ln">Last Name</mat-label>
							<input matInput placeholder="Last Name" formControlName='ln'>
						</mat-form-field>
						<app-error [control]="ln" [submitted]="formSubmitted" patternText="ALPHA"></app-error>	
					</div>
				</div>
				
				<div class="group">
					<div class="form-group">
						<mat-form-field class="example-full-width" appearance="outline">
							<mat-label for="email">Email</mat-label>
							<input matInput placeholder="Email" formControlName='email'>
						</mat-form-field>
						<app-error [control]="email" [submitted]="formSubmitted" patternText="EMAIL"></app-error>	
					</div>
				</div>

				<div class="group">
					<div class="form-group">
						<mat-form-field class="example-full-width" appearance="outline">
							<mat-label for="pswd">Password</mat-label>
							<input matInput type='password' placeholder="Password" formControlName='pswd'>
						</mat-form-field>
						<app-error [control]="pswd" [submitted]="formSubmitted" patternText="PASSWORD"></app-error>	
					</div>
				</div>

				<div class="group">
					<div class="form-group">
						<mat-form-field class="example-full-width" appearance="outline">
							<mat-label for="cnfm_pswd">Confirm Password</mat-label>
							<input matInput type='password' placeholder="Confirm Password" formControlName='cnfm_pswd'>
						</mat-form-field>
						<app-error [control]="cnfm_pswd" [submitted]="formSubmitted" patternText="PASSWORD"></app-error>	
					</div>
				</div>


				<div class="group">
					<div class='form-group'>
						<mat-form-field appearance="outline">
							<mat-select formControlName='gndr'>
								<mat-option value="male">Male</mat-option>
								<mat-option value="female">Female</mat-option>
								<mat-option value="others">Others</mat-option> 
							</mat-select>
							<mat-label>Gender</mat-label>
						</mat-form-field>
						<app-error [control]="gndr" [submitted]="formSubmitted" patternText="ALPHA"></app-error>	
					</div>
						
					<div class="form-group">
						<mat-form-field appearance="outline">
							<mat-label>Year of Birth</mat-label>
							<input matInput placeholder="{{yearRange.MIN + ' - ' + yearRange.MAX}}" formControlName='yob'>
						</mat-form-field>
						<app-error [control]="yob" [submitted]="formSubmitted" patternText="please enter a valid year, ex : 1999"></app-error>	
					</div>	
				</div>

				<div class="group">
					<div class="form-group">
						<mat-form-field appearance="outline">
							<mat-select formControlName='cntry'>
								<mat-option *ngFor='let country of countries$ | async' value="{{country.name}}">{{country.name}}</mat-option>
							</mat-select>
							<mat-label>Country</mat-label>
						</mat-form-field>
						<app-error [control]="cntry" [submitted]="formSubmitted" patternText="ALPHA"></app-error>	
					</div>
				</div>

				<div class="group">
					<div class="form-group">
						<mat-checkbox class="example-margin" formControlName='prvcyPlcy'>By checking this box, I agree to Survey Gravity's <a href="javascript:void(0)">Privacy Policy</a> and <a href="javascript:void(0)">Terms & Conditions</a></mat-checkbox>
					</div>
				</div>
				
				<div class="group fx-al-center">
					<div class="form-group">
						<re-captcha formControlName="reCaptcha" 
						siteKey="6LdPK1MeAAAAAE-ysMDnea0wJRq91xJqlbVcAhcK">  
						</re-captcha>
						<app-error [control]="reCaptcha" [submitted]="formSubmitted"></app-error>
					</div>
					<div class="form-group submit">
						<button mat-raised-button color="warn" [disabled]="register.invalid">REGISTER</button>
					</div>
				</div>
		</form>
	</div>