<section class='center-info-section'>
    <div class="content">
        <div class="image">
            <img src="assets/images/email.png" alt="verify email png" class='info-logo'>
        </div>
        <div class="text">
            <b>Hii <span class='name'>{{ (userSession$ | async)?.fn }}</span>,</b> we have sent you a verification mail, please verify your email to earn another <b>{{rewardAmount}}</b> coins!
        </div>
        <div class="resend">
            Didn't Receive? <a href='javascript:void(0)'>Resend</a>
        </div>
    </div>
</section>